:root {
  --gradient: linear-gradient(to left top, #88dfab, #569aff) !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #121212 !important;
  scroll-behavior: smooth;
}

main {
  max-height: calc(
    100vh - 60px
  ); /* Adjust based on the height of your navbar and footer */
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* For Chrome, Safari, and Opera */
main::-webkit-scrollbar {
  display: none;
}

.main-content {
  max-height: calc(100vh - 70px);
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.custom-navbar {
  margin-bottom: 20px; /* Adjusts space below the navbar */
}
.nav-item {
  margin-right: 15px; /* Adds space between nav items */
}

.navbar-dark .nav-link {
  color: #fff; /* Make the text color white */
}

.nav-link:hover {
  background-image: linear-gradient(
    to right,
    #569aff,
    #88dfab
  ); /* Example gradient */
  -webkit-background-clip: text; /* Clipping the background to the text */
  -webkit-text-fill-color: transparent;
}

.navbar {
  height: 50px;
}

.navbar-dark,
.navbar[data-bs-theme="dark"] {
  --bs-navbar-color: #fff;
}

.card {
  background: #222;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
  border: 1px solid #6fbdd5;
  border-image-slice: 1;
}

.text-muted {
  --bs-text-opacity: 1;
  color: rgba(231, 240, 249, 0.75) !important;
}

.btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source: var(--gradient) !important;
  text-decoration: none;
  transition: all 0.4s ease;
}

.btn:hover,
.btn:focus {
  background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important;
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}

.homeHeroFooter {
  background: #212529;
  color: #fff;
  padding: 0.5rem; /* Reduced padding from 2rem to 1rem */
  text-align: center;
}

.homeHeroFooterContent {
  max-width: 1200px;
  margin: 0 auto;
}

.homeHeroFooterNav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

/* .footerNavLink {
  color: #fff;
  text-decoration: none;
  margin: 0.5rem 1rem;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footerNavLink:hover {
  
  color: #ffb500;
} */

.footerNavLink {
  color: #fff;
  text-decoration: none;
  margin: 0.5rem 1rem;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footerNavLink:hover {
  color: #fff; /* Change text color if desired */
  background-image: linear-gradient(
    to right,
    #569aff,
    #88dfab
  ); /* Example gradient */
  -webkit-background-clip: text; /* Clipping the background to the text */
  -webkit-text-fill-color: transparent; /* Making the text color transparent so the background shows through */
}

.homeHeroFooterCopy {
  font-size: 0.875rem;
  color: #fff;
  margin-top: 1rem;
}

#glass-container {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  color: white;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensures the wrapper spans the full width */
}
